<!DOCTYPE html>
<html>
<body>

    <h1 style="font-size:45px; background-color:#ff8000; font-weight:bolder; text-align:center; color:#0288d1; text-shadow:3px 1px white "> Bonus System </h1>
    @*<p style="font-size:36px;">About Bonus System</p>*@


    <div style="font-size:25px; padding-top: 3em; text-align:center; border: 5px solid #ff8000; padding-bottom:3em">
        Welcome to our Bonus System <br> This is the great opportunity to spend you money and <br> at the same time
        accumulate bonuses in our system <br> If You Want To Check Your Bonus
        <a href="@Url.Action("Login","Auth")">Click Here</a>
    </div>



</body>
</html>








@*<a href="@Url.Action()"></a>*@


