@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>



<img src="~/32-error-404-page.jpg" style="width:100%;height:400px" alt="Click on the home" usemap="#error404">

<map name="error404">
    <area shape="rect" coords="512,289,729,339" alt="Go to Home" href="@Url.Action("Index","Home")" />

</map>